* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
  display: flex;
  align-items: center;
  height: 75px;
}
.header__section {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__section .box-left__icon {
  display: flex;
  gap: 41px;
  align-items: end;
}
.header__section .box-right__icon {
  display: flex;
  align-items: end;
  gap: 25px;
}
.header__section .box-right__icon_count {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  width: 19px;
  height: 19px;
  background-color: #f16d7f;
  text-align: center;
  border-radius: 50px;
  top: 2px;
  right: -10px;
  font-family: "Lato-Regular";
}
.header__section .box__link:hover path {
  fill: #f16d7f;
}
.header__section .box__link:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.main .section-one {
  background-color: #f8f3f4;
  height: 148px;
  display: flex;
  align-items: center;
}
.main .section-one__header {
  font-weight: 400;
  font-size: 24px;
  color: #f16d7f;
  font-family: "Lato-Regular";
}
.main .section-two {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 96px;
}
.main .section-two .form {
  max-width: 360px;
}
.main .section-two .form__input {
  height: 149px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .section-two .form__input h3 {
  font-weight: 300;
  font-size: 16px;
  color: #222;
  font-family: "Lato-Light";
}
.main .section-two .form__input input {
  height: 45px;
  padding-left: 17px;
}
.main .section-two .form__input input::-moz-placeholder {
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
  font-family: "Lato-Light";
}
.main .section-two .form__input input::placeholder {
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
  font-family: "Lato-Light";
}
.main .section-two .form__check {
  display: flex;
  gap: 20px;
}
.main .section-two .form__check-box {
  display: flex;
  gap: 10px;
  margin-top: 31px;
  margin-bottom: 33px;
}
.main .section-two .form__check-box label {
  font-weight: 300;
  font-size: 11px;
  color: #000;
  font-family: "Lato-Regular";
}
.main .section-two .form__warning {
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
  margin-top: 15px;
  margin-bottom: 39px;
  font-family: "Lato-Light";
}
.main .section-two .form__btn {
  width: 167px;
  height: 50px;
  background-color: #f16d7f;
  cursor: pointer;
  border: none;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  font-family: "Lato-Regular";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main .section-two .program-loyalty {
  max-width: 652px;
  height: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .section-two .program-loyalty h2 {
  font-weight: 300;
  font-size: 24px;
  color: #000;
  font-family: "Lato-Light";
}
.main .section-two .program-loyalty p {
  font-weight: 300;
  font-size: 24px;
  color: #000;
  font-family: "Lato-Light";
}
.main .section-two .program-loyalty span {
  font-weight: 300;
  font-size: 24px;
  color: #000;
  font-family: "Lato-Light";
}
.main .section-two .program-loyalty__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main .section-two .program-loyalty__link {
  display: flex;
  gap: 22px;
}
.main .section-three {
  height: 448px;
}
.main .section-three__content {
  display: flex;
  justify-content: space-between;
}
.main .section-three__content .content__text {
  margin-top: 97px;
  max-width: 360px;
  height: 225px;
}
.main .section-three__content .content__text img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
.main .section-three__content .content__text figcaption {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #222224;
  text-align: center;
  font-family: "Lato-Italic";
}
.main .section-three__content .content__form {
  margin-top: 155px;
  max-width: 360px;
}
.main .section-three__content .content__form h2 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #222224;
  font-family: "Lato-Bold";
}
.main .section-three__content .content__form h3 {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #222224;
  font-family: "Lato-Regular";
}
.main .section-three__content .content__form .form__sending {
  display: flex;
  margin-top: 34px;
}
.main .section-three__content .content__form .form__sending input {
  width: 360px;
  height: 49px;
  padding-left: 22px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  background-color: #e1e1e1;
}
.main .section-three__content .content__form .form__sending input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #222224;
  opacity: 0.67;
  font-family: "Lato-Regular";
}
.main .section-three__content .content__form .form__sending input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #222224;
  opacity: 0.67;
  font-family: "Lato-Regular";
}
.main .section-three__content .content__form .form__sending button {
  border: none;
  background-color: #f16d7f;
  width: 100px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  font-family: "Lato-Regular";
  cursor: pointer;
}

.footer {
  background-color: #222224;
  height: 79px;
  display: flex;
  align-items: center;
}
.footer__section {
  display: flex;
  justify-content: space-between;
}
.footer__section p {
  font-weight: 400;
  font-size: 16px;
  color: #fbfbfb;
  font-family: "Lato-Regular";
  display: flex;
  align-items: center;
}
.footer__icon {
  display: flex;
  gap: 8px;
}
.footer__icon .icon:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.footer__icon .icon:hover path {
  fill: #f16d7f;
}
.footer__icon .icon:hover path:last-child {
  fill: white;
}/*# sourceMappingURL=style.css.map */